<!--<!DOCTYPE html>-->
<!--<html xmlns:th="http://www.thymeLeaf.org">-->
<!--<head>-->
<!--  <meta charset="ISO-8859-1">-->
<!--  <link rel="stylesheet"-->
<!--        href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"-->
<!--        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"-->
<!--        crossorigin="anonymous">-->
<!--</head>-->
<!--<body>-->
<!--<nav class="navbar navbar-expand-md bg-dark navbar-dark">-->
<!--  &lt;!&ndash; Brand &ndash;&gt;-->
<!--  <a class="navbar-brand" href="#">Upi System</a>-->

<!--  &lt;!&ndash; Toggler/collapsibe Button &ndash;&gt;-->
<!--  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">-->
<!--    <span class="navbar-toggler-icon"></span>-->
<!--  </button>-->

<!--</nav>-->
<!--<br>-->
<!--<br>-->
<!--<div class = "container">-->
<!--  <div class = "row">-->
<!--    <div class = "col-lg-6 col-md-6 col_sm_6 container justify-content-center card">-->
<!--      <h1 class = "text-center">Create New Account </h1>-->
<!--      <div class = "card-body">-->
<!--        <form th:action = "@{/paymentProcess}" th:object = "${payment}" method = "POST">-->
<!--          <div class = "form-group">-->
<!--            <label>Send to</label>-->
<!--            <input-->
<!--                    type = "text"-->
<!--                    name = "receiverupi"-->
<!--                    th:field = "*{receiverUPI}"-->
<!--                    placeholder = "Enter receiver upi"-->
<!--                    class = "form-control"/>-->
<!--            &lt;!&ndash;TH:field FIRST NAME IS THE FIRSTNAME IN STUDENT CLASS&ndash;&gt;-->
<!--          </div>-->

<!--          <div class = "form-group">-->
<!--            <label>Enter amount</label>-->
<!--            <input-->
<!--                    type = "text"-->
<!--                    name = "amount"-->
<!--                    th:field = "*{amount}"-->
<!--                    placeholder = "Enter amount"-->
<!--                    class = "form-control"/>-->
<!--            &lt;!&ndash;TH:field FIRST NAME IS THE FIRSTNAME IN STUDENT CLASS&ndash;&gt;-->
<!--          </div>-->


<!--          <div class = "box-footer">-->
<!--            <button type = "submit" class = "btn btn-primary">Submit</button>-->
<!--          </div>-->
<!--        </form>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
<!--</body>-->
<!--</html>-->

<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Corona Admin</title>
  <!-- plugins:css -->
  <link rel="stylesheet" href="http://localhost:9090/template/assets/vendors/mdi/css/materialdesignicons.min.css">
  <link rel="stylesheet" href="http://localhost:9090/template/assets/vendors/css/vendor.bundle.base.css">
  <!-- endinject -->
  <!-- Plugin css for this page -->
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <!-- endinject -->
  <!-- Layout styles -->
  <link rel="stylesheet" href="http://localhost:9090/template/assets/css/style.css">
  <!-- End layout styles -->
  <link rel="shortcut icon" href="http://localhost:9090/template/assets/images/favicon.png" />
</head>
<body>
<div class="container-scroller">
  <div class="container-fluid page-body-wrapper full-page-wrapper">
    <div class="row w-100 m-0">
      <div class="content-wrapper full-page-wrapper d-flex align-items-center auth login-bg">
        <div class="card col-lg-4 mx-auto">
          <div class="card-body px-5 py-5">
            <h3 class="card-title text-left mb-3">Send Money</h3>
            <form th:action = "@{/paymentProcess}" th:object = "${payment}" method = "POST">
              <div class="form-group">
                <label>Send To *</label>
                <input
                        type = "text"
                        name = "receiverupi"
                        th:field = "*{receiverUPI}"
                        placeholder = "Enter receiver upi"
                        class = "form-control p_input"/>
              </div>
              <div class="form-group">
                <label>Enter Amount *</label>
                <input
                        type = "text"
                        name = "amount"
                        th:field = "*{amount}"
                        placeholder = "Enter amount"
                        class = "form-control p_input"/>
              </div>

              <div class="text-center">
                <button type="submit" class="btn btn-primary btn-block enter-btn">Pay</button>
              </div>

            </form>
          </div>
        </div>
      </div>
      <!-- content-wrapper ends -->
    </div>
    <!-- row ends -->
  </div>
  <!-- page-body-wrapper ends -->
</div>
<!-- container-scroller -->
<!-- plugins:js -->
<script src="http://localhost:9090/template/assets/vendors/js/vendor.bundle.base.js"></script>
<!-- endinject -->
<!-- Plugin js for this page -->
<!-- End plugin js for this page -->
<!-- inject:js -->
<script src="http://localhost:9090/template/assets/js/off-canvas.js"></script>
<script src="http://localhost:9090/template/assets/js/hoverable-collapse.js"></script>
<script src="http://localhost:9090/template/assets/js/misc.js"></script>
<script src="http://localhost:9090/template/assets/js/settings.js"></script>
<script src="http://localhost:9090/template/assets/js/todolist.js"></script>
<!-- endinject -->
</body>
</html>